/*Google Maps default settings otherwise map does not show*/
html,
body,
#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*List button next to top left google maps buttons*/
#places-toggle {
  padding: 1px 6px;
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 100px;
  background-color: rgba(255,255,255,100);
}

/*Hide class for triggering hide and show on places-list*/
.hidden {
  display: none;
}

/*List item that is togglable for Yelp Sushi Restaurants*/
#places-list{
  position: absolute;
  margin: 5px;
  top: 20%;
  right: 0;
  width: 200px;
  height: 200px;
  overflow: auto;
}

#places-list > ul{
  position: absolute;
  background-color: #f2f2f2;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0;
  margin: 0;
}

ul > li{
  list-style: none;
  cursor: pointer;
  text-align: center;
  list-style-position: outside;
}

#places-list > ul > li:hover{
  border-radius: 5px;
  background-color: black;
  color: white;
 }

#searchBar {
  margin: 5px;
  position: absolute;
  z-index: 1;
  left: 60px;
  border-radius: 2px;
  width: auto;
}

/*Class for Infowindow content*/
#content {
  display: inline-block;
  overflow: auto;
}

#content img {
  margin: 0 20px 0 0;
}

/*Offline status*/
#status {
  position : fixed;
  width: 100%;
  bottom: 30px;
  font : bold 1em sans-serif;
  color: #FFF;
  padding : 0.5em;
  z-index: 9999;
}

.online {
  background: green;
}

.offline {
  background: red;
}

/*Infowindow Title h2 center class*/
.text-center {
  text-align: center;
}