html {
	background-color: hsl(225, 73%, 90%);
}

h1 {
	color: white;
}

#map {
	height: 100%;
	width: 100%;
}

#app {
	position: relative;
}

.heading,
.search {
	position: absolute;
	z-index: 1;
}

.search {
	top: 60px;
	left: 10px;
}

.heading {
	right: 10px;
	top: 40px;
	font-size: 30;
}

input.search {
	font-size: 18;
	width: 169px;
}
